.menu {
  background: #363636;
  overflow: hidden;
  padding: 10px;
}

.user-modal {
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.file-form .btn .fa {
  display: none;
}

.files-wrapp {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.files-wrapp .breadcrumbs {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
}

.files-wrapp .file {
  width: 80px;
  height: 100px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.files-wrapp .file .file-link {
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.files-wrapp .file .file-link:hover {
  color: #666666;
}

.files-wrapp .file .fa {
  font-size: 60px;
  line-height: 60px;
}

.files-wrapp .file p {
  font-size: 14px;
  text-overflow: clip;
  margin: 0;
}

.files-wrapp .file .file-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.files-wrapp .file .file-buttons .file-btn {
  background: transparent;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
}

.files-wrapp .file .file-buttons .file-btn .fa {
  font-size: 18px;
  line-height: 1;
  color: #007bff;
  cursor: pointer;
}

.files-wrapp .file .file-buttons .file-btn .fa:hover {
  color: #004add;
}
